<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveUserServlet</servlet-name>
        <servlet-class>ApproveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>AddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetServlet</servlet-name>
        <servlet-class>DeletePetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPetServlet</servlet-name>
        <servlet-class>EditPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetServlet</servlet-name>
        <servlet-class>UpdatePetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicineServlet</servlet-name>
        <servlet-class>AddMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedicineServlet</servlet-name>
        <servlet-class>EditMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <servlet-class>UpdateMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <servlet-class>DeleteMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet1</servlet-name>
        <servlet-class>AddProductServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>servlets.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet1</servlet-name>
        <servlet-class>servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet1</servlet-name>
        <servlet-class>servlets.UserRegisterServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServletnew</servlet-name>
        <servlet-class>UserRegisterServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet112</servlet-name>
        <servlet-class>UserLoginServlet112</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServletnew</servlet-name>
        <servlet-class>UserLogoutServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetServletnew</servlet-name>
        <servlet-class>AddPetServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServletnew</servlet-name>
        <servlet-class>BookAppointmentServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentServletnew</servlet-name>
        <servlet-class>CancelAppointmentServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorRegisterServletnew</servlet-name>
        <servlet-class>DoctorRegisterServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginServletnew</servlet-name>
        <servlet-class>DoctorLoginServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogoutServletnew</servlet-name>
        <servlet-class>DoctorLogoutServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAppointmentServletnew</servlet-name>
        <servlet-class>ConfirmAppointmentServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteAppointmentServletnew</servlet-name>
        <servlet-class>CompleteAppointmentServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServletnew</servlet-name>
        <servlet-class>AdminLoginServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServletnew</servlet-name>
        <servlet-class>AdminLogoutServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDoctorServletnew</servlet-name>
        <servlet-class>ApproveDoctorServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectDoctorServletnew</servlet-name>
        <servlet-class>RejectDoctorServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServletnew</servlet-name>
        <servlet-class>DeleteUserServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServletnew</servlet-name>
        <servlet-class>UpdateUserServletnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetServletnew</servlet-name>
        <servlet-class>UpdatePetServletnew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveUserServlet</servlet-name>
        <url-pattern>/ApproveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/AddPetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetServlet</servlet-name>
        <url-pattern>/DeletePetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPetServlet</servlet-name>
        <url-pattern>/EditPetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetServlet</servlet-name>
        <url-pattern>/UpdatePetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicineServlet</servlet-name>
        <url-pattern>/AddMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedicineServlet</servlet-name>
        <url-pattern>/EditMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <url-pattern>/UpdateMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <url-pattern>/DeleteMedicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet1</servlet-name>
        <url-pattern>/AddProductServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet1</servlet-name>
        <url-pattern>/UserLoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet1</servlet-name>
        <url-pattern>/UserRegisterServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServletnew</servlet-name>
        <url-pattern>/UserRegisterServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet112</servlet-name>
        <url-pattern>/UserLoginServlet112</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServletnew</servlet-name>
        <url-pattern>/UserLogoutServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetServletnew</servlet-name>
        <url-pattern>/AddPetServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServletnew</servlet-name>
        <url-pattern>/BookAppointmentServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentServletnew</servlet-name>
        <url-pattern>/CancelAppointmentServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorRegisterServletnew</servlet-name>
        <url-pattern>/DoctorRegisterServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginServletnew</servlet-name>
        <url-pattern>/DoctorLoginServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogoutServletnew</servlet-name>
        <url-pattern>/DoctorLogoutServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAppointmentServletnew</servlet-name>
        <url-pattern>/ConfirmAppointmentServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteAppointmentServletnew</servlet-name>
        <url-pattern>/CompleteAppointmentServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServletnew</servlet-name>
        <url-pattern>/AdminLoginServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServletnew</servlet-name>
        <url-pattern>/AdminLogoutServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDoctorServletnew</servlet-name>
        <url-pattern>/ApproveDoctorServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectDoctorServletnew</servlet-name>
        <url-pattern>/RejectDoctorServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServletnew</servlet-name>
        <url-pattern>/DeleteUserServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServletnew</servlet-name>
        <url-pattern>/UpdateUserServletnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetServletnew</servlet-name>
        <url-pattern>/UpdatePetServletnew</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
